.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.subTitle {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}
.line {
  height: 1px;
  width: 100%;
  color: var(--main-text-color);
  opacity: 0.1;
}
.detailsList {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
.detailsItem {
  display: flex;
  justify-content: space-between;
}
